/* Base */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}
/* Heading */
.prompt-text {
  margin-top: 40px;
}

/* Mode Toggle */
.toggle-root {
  margin-top: 8px;
}
.toggle-item {
  border-radius: 0;
}
.toggle-item:first-child {
  margin-left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.toggle-item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.toggle-item[data-state='on'] {
  background-color: var(--accent1);
}

/* Actions */
.option-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.option-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}
.add.button {
  background: var(--accent1);
}
.button:disabled {
  background: var(--ev1);
  color: var(--disabled);
}

/* SELECT */
.select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 164px;
}
.select-trigger:hover {
  background-color: var(--accent1);
}
.select-trigger:focus {
  box-shadow: 0 0 0 2px var(--accent1);
}
.select-content {
  overflow: hidden;
  background-color: #2a2a2a;
  border-radius: 8px;
}
.select-viewport {
  padding: 5px;
}
.select-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: default;
}
.select-item {
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.select-item[data-disabled] {
  pointer-events: none;
}
.select-item[data-highlighted] {
  outline: none;
  background-color: var(--accent1);
}
.select-item-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.select-label {
  padding: 0 25px;
  line-height: 25px;
  /* color: rgba(255, 255, 255, 0.45); */
}

/* IMAGE */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.loading {
  animation: loading 1s linear infinite alternate;
}
.fallback {
  background: var(--ev1);
}

.image-root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: var(--ev1);
}
.square {
  background-color: transparent;
  border-radius: 8px;
  width: auto;
  height: 120px;
}
.primary {
  background-color: var(--accent1);
}

@keyframes loading {
  0% {
    background-color: var(--ev1);
  }
  100% {
    background-color: var(--ev2);
  }
}

/* DISPLAY CARD */
.card-root {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--ev1);
}
.card-image {
  background: linear-gradient(
    to bottom right,
    rgb(233, 61, 130),
    rgb(0, 144, 255)
  );
  /* colors are hard... */
  /* rgb(229, 72, 77) */
  /* rgb(110, 86, 207), */
  /* rgb(233, 61, 130) */
  /* rgb(57, 44, 114)
  rgb(13, 56, 104) */
  /* rgb(88, 66, 195)
  rgb(9, 84, 165) */
  /* rgb(44, 34, 80) */
  /* rgb(16, 36, 62) */
  /* rgb(110, 86, 207)
  rgb(0, 144, 255) */
  /* background: rgb(158, 140, 252); */
  /* background: rgb(82, 169, 255); */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 10px;
  width: 100%;
}
.card-detail {
  width: 160px;
  /* background-color: var(--ev1); */
  padding: 16px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.detail-row {
  /* font-size: 16px; */
  line-height: 1.5;
  display: flex;
}
.row-name {
  text-align: left;
  width: 60px;
}
.row-value {
  flex: 1;
}
.positive {
  color: var(--positive);
}
.negative {
  color: var(--negative);
}
.icon-row {
  display: flex;
  line-height: 1.5;
  justify-content: center;
}
.detail-class {
  display: flex;
  /* flex: 1; */
}
.delete {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 8px;
}
/* reveal on hover? */
.cross-icon {
  display: none;
  /* display: flex; */
}
.card-root:hover .cross-icon {
  display: flex;
}
