/* Base */
#root {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  text-align: left;
  min-height: 100vh;
  width: 100%;
  max-width: 678px;
}
.AppRoot {
  padding-top: 64px;
  width: 100%;
}
.AppTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Heading */
.SubHeading {
  /* margin-top: 40px; */
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 80px;
}
.PromptText {
  margin-top: 40px;
  max-width: 600px;
  margin-right: auto;
  margin-left: 0;
  margin-bottom: 80px;
  /* padding-bottom: 60px; */
}

/* Mode Toggle */
.ToggleRoot {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ToggleItem {
  border-radius: 0;
}

.ToggleItem[data-state='on'] {
  background-color: var(--primary);
}

/* Actions */
.OptionRow {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.OptionCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.add.button {
  background: var(--primary);
}
.button:disabled {
  background: var(--elevation-1);
  color: var(--disabled);
}

/* SELECT */
.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 164px;
}
.SelectTrigger:hover {
  background-color: var(--primary);
}
.SelectTrigger:focus {
  box-shadow: 0 0 0 2px var(--primary);
}
.SelectContent {
  overflow: hidden;
  background-color: var(--elevation-1);
  border-radius: 8px;
}
.SelectViewport {
  padding: 5px;
}
.SelectScroll {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: default;
}
.SelectItem {
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--primary);
}
.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.SelectLabel {
  padding: 0 25px;
  line-height: 25px;
}

/* IMAGE */
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.loading {
  animation: loading 1s linear infinite alternate;
}
.fallback {
  background: var(--elevation-1);
}
.ImageRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: var(--elevation-1);
}
.square {
  background-color: transparent;
  border-radius: 8px;
  width: auto;
  height: 120px;
}
.primary {
  background-color: var(--primary);
}

/* DISPLAY CARD */
.CardRoot {
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--elevation-1);
}
.CardImage {
  background: linear-gradient(
    to bottom right,
    var(--fav-primary),
    var(--fav-secondary)
  );
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 10px;
  width: 100%;
}
.CardDetail {
  width: 160px;
  padding: 16px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.DetailRow {
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.RowName {
  text-align: left;
  width: 36px;
  font-size: 13px;
  padding-right: 4px;
}
.RowBar {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}
.BarBg {
  background: var(--elevation-2);
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 15px;
}
.BarFill {
  font-size: 13px;
  padding-left: 4px;
  text-align: right;
  flex: 1;
}
.RowValue {
  padding-left: 4px;
  font-size: 13px;
  text-align: left;
}
.top {
  color: var(--accent);
}
.positive {
  color: var(--fg-success);
}
.negative {
  color: var(--fg-error);
}
.icon-row {
  display: flex;
  line-height: 1.5;
  justify-content: center;
}
.DetailClass {
  display: flex;
}
.delete {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}
.DeleteIcon {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.CardRoot:hover .DeleteIcon {
  opacity: 1;
}

/* CHARACTER DISPLAY */
.CharacterDisplayContainer {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 828px; */
}
.RankDisplayContainer {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.favorite {
  background: linear-gradient(
    to top left,
    var(--fav-primary),
    var(--fav-secondary)
  );
}
.RankImage {
  margin-bottom: 4px;
  will-change: transform;
  transition: transform 450ms;
}
.AntiFlicker {
  cursor: pointer;
}
.AntiFlicker:hover .RankImage {
  transition: transform 150ms;
  transform: translateY(-10px);
}
.CharacterStatLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
}
.CharacterStatLabel {
  padding-left: 10px;
}
.CharacterStatValue {
  padding-right: 10px;
}
.GradientText {
  background: linear-gradient(to left, var(--accent), var(--primary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.RankOrderContainer {
  font-size: 13px;
}

/* SLIDER */
.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 20px;
}
.SliderTrack {
  background-color: hsla(0, 0%, 100%, 0.15);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}
.SliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
}
.SliderThumb {
  display: block;
  border-radius: 50%;
}

.SliderThumb.invest {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
}
.SliderThumb:hover {
  background-color: var(--secondary);
}
.SliderThumb:focus {
  outline: none;
}

.SliderImage {
  height: 40px;
  width: 40px;
}
.ExpRowRoot {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
}

.ExpActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
  user-select: none;
}
.ExpLvAction {
  width: 96px;
}
.ExpAction {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.ExpValueLabel {
  width: 36px;
  text-align: right;
}
.ExpClassChangeContainer {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 210px;
  gap: 10px;
}

/* DROPDOWN */
.DropdownMenuContent,
.DropdownMenuSubContent {
  min-width: 200px;
  background-color: var(--elevation-1);
  border-radius: 6px;
  padding: 5px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  max-height: 300px;
  overflow-y: scroll;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
}

.DropdownMenuItem[data-disabled] {
  color: var(--disabled);
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--elevation-1);
}
.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--disabled);
}
.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--primary);
  margin: 5px;
}
.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownTrigger,
.UndoClassButton {
  will-change: border-color;
  transition: border-color 450ms;
}

.DropdownTrigger[data-animate='true'],
.UndoClassButton[data-animate='true'] {
  transition: border-color 150ms;
  border-color: var(--primary);
  animation: tilt 250ms forwards;
  /* animation: colorBorder 500ms forwards; */
}

/* KEYFRAMES */
@keyframes loading {
  0% {
    background-color: var(--elevation-1);
  }
  100% {
    background-color: var(--elevation-2);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* CHECKBOX */
.CheckboxRoot {
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: default;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px var(--primary);
}
.CheckboxIndicator {
  color: var(--primary);
}
.Label {
  color: var(--foreground);
  padding-left: 13px;
  font-size: 13px;
  line-height: 1;
}

/* FILTER */
.FilterContainer {
  display: flex;
  flex-direction: column;
}
.FilterContent {
  height: 0;
  transition: height 0.3s ease-in-out;
  padding-top: 20px;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  padding-right: 4px;
  padding-left: 4px;
}
.FilterContent[data-state='expanded'] {
  height: 660px;
  padding-bottom: 20px;
}
.FilterColumn {
  display: flex;
  flex-direction: column;
  width: 110px;
  gap: 4px;
}
.FilterItem {
  display: flex;
  align-items: center;
}
.FilterTitle {
  font-weight: 700;
}
.FilterButton {
  margin-right: 5px;
  margin-left: 5px;
  width: 120px;
}
.ExpIcon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.ExpIcon:hover {
  transform: scale(1.1);
}

/* FOOTER */
.FooterRoot {
  height: 20px;
  padding-top: 60px;
}

/* TOAST */
.ToastViewport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  background-color: var(--elevation-1);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}
.ToastRoot.add {
  background: var(--bg-success);
  color: var(--fg-success);
}
.ToastRoot.remove {
  background: var(--bg-error);
  color: var(--fg-error);
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastDescription {
  grid-area: title;
}

.ToastAction {
  font-size: 13px;
  background: transparent;
}
.ToastRoot.add .ToastAction {
  color: var(--fg-success);
}
.ToastRoot.remove .ToastAction {
  color: var(--fg-error);
}
.ToastAction:hover {
  border-color: transparent;
}

@media screen and (min-width: 828px) {
  #root {
    max-width: 828px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .FilterContent[data-state='expanded'] {
    height: 280px;
  }
  .OptionRow {
    flex-direction: row;
  }
  .CharacterDisplayContainer {
    justify-content: start;
  }
  .ExpRowRoot {
    flex-direction: row;
  }
  .ExpRowLabel {
    flex: 1 0 140px;
  }
  .ToggleItem:first-child {
    margin-left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .ToggleItem:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

@media screen and (min-width: 1040px) {
  #root {
    max-width: 1040px;
  }
  .FilterContent[data-state='expanded'] {
    height: 260px;
  }
  .ToggleRoot {
    /* align-items: start; */
    justify-content: start;
  }
  .OptionCol {
    align-items: start;
    /* justify-content: start; */
  }
  .RankDisplayContainer {
    justify-content: start;
  }
}
