:root {
  --background: hsl(0, 0%, 10%);
  --foreground: hsla(0, 0%, 100%, 0.87);
  --primary: hsl(237, 100%, 70%);
  --secondary: hsl(237, 86%, 64%);
  --accent: hsl(192, 85%, 56%);

  --fav-primary: hsl(336, 80%, 58%);
  --fav-secondary: hsl(206, 100%, 50%);

  --bg-success: hsl(155, 47%, 11%);
  --bg-error: hsl(356, 43%, 16%);
  --fg-success: hsl(151, 50%, 53%);
  --fg-error: hsl(358, 100%, 69%);

  --elevation-1: hsl(0, 0%, 16%);
  --elevation-2: hsl(0, 0%, 22%);
  --disabled: hsl(250, 3%, 47%);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* :root .light-theme {
  --background: hsl(206, 30%, 98%);
  --foreground: hsl(0, 0%, 10%);
  --primary: hsl(237, 100%, 70%);
  --secondary: hsl(237, 86%, 64%);
  --accent: hsl(192, 85%, 56%);

  --fav-primary: hsl(336, 80%, 58%);
  --fav-secondary: hsl(206, 100%, 50%);

  --bg-success: hsl(139, 55%, 95%);
  --bg-error: hsl(360, 100%, 97%);
  --fg-success: hsl(153, 67%, 29%);
  --fg-error: hsl(358, 65%, 49%);

  --elevation-1: hsla(237, 100%, 70%, 0.5);
  --elevation-2: hsl(206, 30%, 98.8%);
  --disabled: hsl(250, 3%, 47%);
} */

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--foreground);
  background-color: var(--background);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--elevation-1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:hover:disabled {
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
