:root {
  --bg: hsl(0, 0%, 10%);
  --ev-solid: hsl(0, 0%, 16%);
  --ev1: hsla(0, 0%, 100%, 0.07);
  --ev2: hsla(0, 0%, 100%, 0.09);
  --ev3: hsla(0, 0%, 100%, 0.12);
  --ev4: hsla(0, 0%, 100%, 0.15);
  --text: hsla(0, 0%, 100%, 0.87);
  --disabled: hsl(250, 3%, 47%);
  --accent1: hsl(237, 100%, 70%);
  --accent2: hsl(237, 86%, 64%);
  --top: hsl(192, 85%, 56%);
  --positive: rgb(76, 195, 138);
  --negative: hsl(358, 100%, 69%);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--accent1);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--ev1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
